body{
    background-color: rgb(188, 192, 204);

}

.text{
    font-family: "Arvo", serif;
  font-weight: 400;
  font-style: italic;
}

.book {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.color{

    color: #ffffff;
}

.font{
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: 400;
    font-style: normal;
  
}

.font2{
    font-family: "Bai Jamjuree", system-ui;
  font-weight: 600;
  font-style: normal;
}

.left{
    text-align: left;
}

.img1{
    width: 300px; 
    height: 450px; 
    object-fit: cover; 
    margin: 10;
}

footer {
    display: block;
  }